@font-face {
  font-family: "Next Mono";
  src: url("https://raw.githubusercontent.com/hat-im/hat-im.github.io/main/index/mono.woff")
    format("woff");
}
:root {
  --bg: #fefefe;
  --text: #111;
  --canvas-text: #333;
}
:root.dark {
  --bg: #111;
  --text: #fefefe;
  --canvas-text: #fefefe;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  color: var(--text);
}
canvas {
  display: block;
}
